In [1]:
from nni_pred.data import MergedTabularDataset

In [2]:
dataset = MergedTabularDataset()
dataset.groups

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14,
       15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
       49, 50, 51, 52,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12,
       13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
       30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
       47, 48, 49, 50, 51, 52])

In [3]:
X, y_dict, groups = dataset.prepare_data()
X, y_dict

(         DO     pH    COND   DOC   T_W   T_M   PREC    Alt  Urban     GDP  \
 0     8.935  8.455   276.5  3.36  25.0  28.1  406.5  153.6  90.70   78113
 1    20.440  9.010   370.5  4.62  32.4  28.1  406.5   92.0  73.30   57754
 2    10.410  8.215   628.5  1.83  31.4  28.1  406.5   84.0  97.40  126700
 3    11.030  8.425   257.0  2.78  29.9  27.3  533.4   44.8  62.50   63992
 4    10.595  8.390   269.5  4.34  30.5  27.3  430.2   70.0  44.34   60352
 ..      ...    ...     ...   ...   ...   ...    ...    ...    ...     ...
 154  14.540  8.290   901.0  4.82  21.0  18.3   32.0   38.0  52.20   36106
 155  12.850  8.215  1955.0  7.06  22.0  18.3   32.0   46.0  52.20   36106
 156   9.340  7.910  1965.0  6.42  21.6  19.2   34.0   42.0  36.20   29464
 157  13.085  8.310  1622.0  6.03  19.9  19.2    5.0   42.0  39.96   53308
 158  11.905  8.355  1489.0  6.84  13.6  19.6    4.0  168.5  65.50   90072

      ...  Soil_IND_W_agg  Soil_LIF_W_agg  Season_Dry  Season_Normal  \
 0    ...        3.755080        2.299216         0.0            0.0
 1    ...        3.368749        2.485815         0.0            0.0
 2    ...        1.423457        4.525292         0.0            0.0
 3    ...        6.341559        2.492688         0.0            0.0
 4    ...        8.586454        2.298232         0.0            0.0
 ..   ...             ...             ...         ...            ...
 154  ...        6.032672        0.628384         0.0            1.0
 155  ...        6.069183        0.635481         0.0            1.0
 156  ...        8.701032        0.509272         0.0            1.0
 157  ...        7.378605        1.133995         0.0            1.0
 158  ...        5.197938        4.358653         0.0            1.0

      Season_Rainy  Landuse_farmland  Landuse_urban  Soil_landuse_Mountain  \
 0             1.0               0.0            1.0                    0.0
 1             1.0               0.0            1.0                    0.0
 2             1.0               0.0            1.0                    0.0
 3             1.0               1.0            0.0                    0.0
 4             1.0               1.0            0.0                    0.0
 ..            ...               ...            ...                    ...
 154           0.0               1.0            0.0                    0.0
 155           0.0               1.0            0.0                    0.0
 156           0.0               1.0            0.0                    0.0
 157           0.0               1.0            0.0                    0.0
 158           0.0               1.0            0.0                    0.0

      Soil_landuse_Urban  Soil_landuse_farmland
 0                   1.0                    0.0
 1                   1.0                    0.0
 2                   1.0                    0.0
 3                   0.0                    1.0
 4                   0.0                    1.0
 ..                  ...                    ...
 154                 0.0                    1.0
 155                 0.0                    1.0
 156                 0.0                    1.0
 157                 0.0                    1.0
 158                 1.0                    0.0

 [159 rows x 98 columns],
 {'THIA': 0       0.0
  1      29.6
  2      39.8
  3      51.4
  4      50.2
         ...
  154    32.0
  155    27.8
  156     0.0
  157    27.0
  158     6.4
  Name: THIA, Length: 159, dtype: float64,
  'IMI': 0        6.2
  1       89.8
  2       63.4
  3      145.4
  4       77.6
         ...
  154      0.0
  155     45.4
  156     34.6
  157     33.6
  158      9.4
  Name: IMI, Length: 159, dtype: float64,
  'CLO': 0        0.0
  1       16.2
  2       14.0
  3       25.8
  4       45.6
         ...
  154      0.0
  155    146.6
  156     69.0
  157     35.0
  158      0.0
  Name: CLO, Length: 159, dtype: float64,
  'ACE': 0       1.0
  1       9.2
  2      11.0
  3      19.2
  4      20.0
         ...
  154     0.0
  155     0.0
  156     0.0
  157     7.6
  158     0.0
  Name: ACE, Length: 159, dtype: float64,
  'DIN': 0         4.0
  1       154.8
  2        78.6
  3        80.8
  4        84.4
          ...
  154     181.4
  155    1492.0
  156    1308.8
  157     163.8
  158       8.8
  Name: DIN, Length: 159, dtype: float64,
  'parentNNIs': 0        11.2
  1       314.4
  2       206.8
  3       322.6
  4       294.0
          ...
  154     213.4
  155    1711.8
  156    1412.4
  157     280.4
  158      24.6
  Name: parentNNIs, Length: 159, dtype: float64,
  'IMI-UREA': 0       4.6
  1      28.8
  2      15.0
  3      37.8
  4      20.0
         ...
  154     0.0
  155     0.0
  156     0.0
  157    19.2
  158     0.0
  Name: IMI-UREA, Length: 159, dtype: float64,
  'DN-IMI': 0        0.0
  1        0.0
  2      192.8
  3      227.0
  4        0.0
         ...
  154    186.4
  155    181.4
  156    220.8
  157    181.4
  158     20.4
  Name: DN-IMI, Length: 159, dtype: float64,
  'DM-ACE': 0      0.0
  1      3.6
  2      0.0
  3      0.6
  4      0.4
        ...
  154    0.0
  155    0.0
  156    0.0
  157    0.0
  158    0.0
  Name: DM-ACE, Length: 159, dtype: float64,
  'CLO-UREA': 0        0.0
  1        0.0
  2        0.0
  3       13.8
  4       13.6
         ...
  154    144.2
  155    116.0
  156     81.0
  157    172.4
  158      0.0
  Name: CLO-UREA, Length: 159, dtype: float64,
  'mNNIs': 0        4.6
  1       35.0
  2      207.8
  3      279.2
  4       34.0
         ...
  154    342.2
  155    320.0
  156    301.8
  157    446.8
  158     20.4
  Name: mNNIs, Length: 159, dtype: float64})